<a href="https://colab.research.google.com/github/community-insight-impact/covid_community_vulnerability/blob/seyoung/Copy_of_seyoung_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## read in important libraries 
import pandas as pd
import numpy as np
import sklearn as skl
from sklearn import preprocessing
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [ ]:
! git clone https://github.com/seyoung02227/covid_community_vulnerability

Cloning into 'covid_community_vulnerability'...
remote: Enumerating objects: 1139, done.
remote: Counting objects: 100% (72/72), done.
remote: Compressing objects: 100% (52/52), done.
remote: Total 1139 (delta 28), reused 52 (delta 15), pack-reused 1067
Receiving objects: 100% (1139/1139), 90.72 MiB | 12.92 MiB/s, done.
Resolving deltas: 100% (693/693), done.
Checking out files: 100% (67/67), done.

In [ ]:
## example of reading in one of our datasets 
### Read in the base FIPS code dataset and drop Puerto Rico 

url = 'covid_community_vulnerability/data/FIPS.csv'
FIPS_codes = pd.read_csv(url, usecols=['FIPS','County','State','Merge'])
FIPS_codes=FIPS_codes[FIPS_codes['State']!='Puerto Rico']
#FIPS_codes['FIPS']=FIPS_codes['FIPS'].apply(fips_zeros)
FIPS_codes.head()

   FIPS    State          County                   Merge
0  1001  Alabama  Autauga County  Alabama Autauga County
1  1003  Alabama  Baldwin County  Alabama Baldwin County
2  1005  Alabama  Barbour County  Alabama Barbour County
3  1007  Alabama     Bibb County     Alabama Bibb County
4  1009  Alabama   Blount County   Alabama Blount County

State abbreviations by using a dictionary

In [ ]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [ ]:
FIPS_codes['State Abbrv'] = FIPS_codes['State'].map(us_state_abbrev)

In [ ]:
FIPS_codes.head()

   FIPS    State          County                   Merge State Abbrv
0  1001  Alabama  Autauga County  Alabama Autauga County          AL
1  1003  Alabama  Baldwin County  Alabama Baldwin County          AL
2  1005  Alabama  Barbour County  Alabama Barbour County          AL
3  1007  Alabama     Bibb County     Alabama Bibb County          AL
4  1009  Alabama   Blount County   Alabama Blount County          AL

A function to check if all FIPS codes eists in a column

In [ ]:
### returns FIPS codes that are not present in the dataset based on the full list of FIPS codes
def missing_fips(fips):
    print("missing FIPS codes:")
    for i, name in FIPS_codes['FIPS'].iteritems():
        if not name in fips:
            print(name)

In [ ]:
FIPS_codes_test = FIPS_codes[FIPS_codes['State'] != 'Alabama'] 
fips_unique_codes=FIPS_codes_test['FIPS'].unique()

In [ ]:
# missing_fips(fips_unique_codes)

# Marge all datasets

## CHRRP

In [ ]:
## Read in the first part of the CHRRP dataset 
cols_1=[0,1,2,3,4,23,27,31,36,55,59,63,65,69,71,77,82,84,109,113,127,134,142,146,152,154,165,169,174,177,180,
       199,201,203,216,236]
c1_data=pd.read_excel('covid_community_vulnerability/data/2020_CHRD.xlsx', sheet_name='Ranked Measure Data', header=1, usecols=cols_1)

In [ ]:
c1_data.head()

,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Smokers,% Adults with Obesity,Food Environment Index,% Physically Inactive,% With Access to Exercise Opportunities,% Excessive Drinking,% Driving Deaths with Alcohol Involvement,Chlamydia Rate,Teen Birth Rate,Primary Care Physicians Rate,Dentist Rate,% With Annual Mammogram,% Vaccinated,High School Graduation Rate,% Some College,% Unemployed,% Children in Poverty,Income Ratio,% Single-Parent Households,Social Association Rate,Violent Crime Rate,Injury Death Rate,Average Daily PM2.5,Presence of Water Violation,% Severe Housing Problems,% Drive Alone to Work,% Long Commute - Drives Alone
0,1000,Alabama,NaN,81791.0,9942.794666,22.028703,4.918052,4.939753,10.254871,20.927353,35.5,5.8,29.8,61.112287,13.903515,27.589171,614.1,30.894616,64.82388,48.18049,40.0,41.0,89.300000,60.411902,3.933567,23.9,5.261136,37.342739,12.371924,479.919182,82.250245,11.0,NaN,14.340702,85.794745,34.3
1,1001,Alabama,Autauga,791.0,8128.591190,20.882987,4.743889,4.654031,8.619529,18.081557,33.3,7.2,34.7,69.130124,15.026031,26.785714,407.2,25.284927,45.04180,32.37352,41.0,41.0,90.000000,62.009974,3.629079,19.3,5.234597,26.242679,12.071202,272.282220,68.526994,11.7,No,14.663462,86.523661,39.6
2,1003,Alabama,Baldwin,2967.0,7354.122530,17.509134,4.224519,4.304056,8.345003,17.489033,31.0,8.0,26.5,73.713549,17.958310,30.769231,325.0,27.880692,72.89727,49.53629,43.0,44.0,86.361577,67.371620,3.615382,13.9,4.417767,24.139601,10.205617,203.660396,72.385054,10.3,No,13.566201,84.282433,41.7
3,1005,Alabama,Barbour,472.0,10253.573403,29.591802,5.430279,5.185594,11.474559,21.999985,41.7,5.6,23.5,53.166770,12.844016,40.000000,716.3,40.870815,31.65809,36.17218,45.0,37.0,81.410256,34.857649,5.171384,43.9,5.681410,56.603426,7.518797,414.277861,70.274612,11.5,No,14.583333,83.368470,32.2
4,1007,Alabama,Bibb,471.0,11977.539484,19.439724,4.591482,4.551699,10.308710,19.114200,37.6,7.8,33.5,16.251364,15.570042,27.586207,339.7,41.696794,48.52656,22.32143,40.0,38.0,83.763838,44.137353,3.971828,27.8,4.368581,28.689236,8.381860,89.349126,108.156028,11.2,No,10.496454,84.910647,49.8

In [ ]:
## Read in the second part of the CHRRP dataset
cols_2=[0,3,22,41,60,787,81,84,88,90,92,94,113,131,135,139,143,144,147,152,157,175,176,177,178,197,217,238,241,
       245,248,249,250,252,254,256,258,260,262,264,267,269]
c2_data=pd.read_excel('covid_community_vulnerability/data/2020_CHRD.xlsx', sheet_name='Additional Measure Data', header=1, usecols=cols_2)

/usr/local/lib/python3.7/dist-packages/pandas/io/excel/_base.py:1292: FutureWarning: Defining usecols with out of bounds indices is deprecated and will raise a ParserError in a future version.
  **kwds,

In [ ]:
## Rename columns
c2_data=c2_data.rename(columns={'% Uninsured.1':'% Children Uninsured', 'Segregation index':
                                'Black/White Segregation Index', 'Segregation Index':
                                'non-White/White Segregation Index','Average Grade Performance':
                               'Average Reading Performance','Average Grade Performance.1':'Average Math Performance',
                               })

In [ ]:
c2_data.head()

,FIPS,Life Expectancy,Age-Adjusted Death Rate,Child Mortality Rate,Infant Mortality Rate,% Frequent Mental Distress,% Adults with Diabetes,HIV Prevalence Rate,% Food Insecure,% Limited Access to Healthy Foods,Drug Overdose Mortality Rate,Motor Vehicle Mortality Rate,% Insufficient Sleep,% Uninsured,% Children Uninsured,Other Primary Care Provider Ratio,% Disconnected Youth,Average Reading Performance,Average Math Performance,Median Household Income,% Enrolled in Free or Reduced Lunch,Black/White Segregation Index,non-White/White Segregation Index,Homicide Rate,Suicide Rate (Age-Adjusted),Firearm Fatalities Rate,Juvenile Arrest Rate,% Homeowners,% Severe Housing Cost Burden,Population,% less than 18 years of age,% 65 and over,% Black,% American Indian & Alaska Native,% Asian,% Native Hawaiian/Other Pacific Islander,% Hispanic,% Non-Hispanic White,% Not Proficient in English,% Female,% Rural
0,1000,75.416194,474.782349,69.499675,8.365564,15.826634,14.2,309.9,16.3,7.921425,16.176762,19.649886,37.720955,14.089710,3.032002,1162:1,8.370019,2.964745,2.776835,49881.0,55.874153,56.653988,50.777776,9.926443,15.638260,20.575917,NaN,68.550462,12.653817,4887871,22.296824,16.917263,26.497733,0.703271,1.496909,0.106529,4.443264,65.413428,1.061048,51.633032,40.963183
1,1001,76.879477,417.547551,55.922156,7.940109,14.129347,11.1,219.1,13.2,11.991125,10.809447,19.328751,35.905406,11.148989,2.669154,2527:1,NaN,2.959586,2.802699,59338.0,43.408673,24.619138,23.628395,4.896617,18.145295,16.230078,10.625000,74.894625,13.403481,55601,23.674035,15.562670,19.343177,0.480207,1.224798,0.111509,2.965774,74.308016,0.820225,51.448715,42.002162
2,1003,78.450258,353.343111,47.381750,5.546701,13.475336,10.7,166.5,11.6,5.424427,13.610487,15.811239,33.305868,14.348525,3.538763,1787:1,8.476795,3.005642,2.860696,57588.0,48.486565,41.271763,31.825343,3.008333,19.377511,14.093514,26.192661,73.619343,11.725808,218022,21.607911,20.443350,8.783976,0.772399,1.150343,0.066966,4.646779,83.111337,0.543517,51.538377,42.279099
3,1005,75.341935,497.350062,74.225274,NaN,16.586252,17.6,420.6,22.0,10.739667,NaN,22.854780,38.563167,16.085834,2.913534,1914:1,13.339302,2.660388,2.443271,34382.0,63.292302,25.039132,23.449713,7.618260,12.836104,17.761715,15.000000,61.397779,14.059546,24881,20.867328,19.420441,48.032635,0.659137,0.454162,0.184880,4.276355,45.641252,1.631683,47.216752,67.789635
4,1007,73.571820,589.041117,85.800086,12.244898,14.017536,14.5,196.8,14.3,2.601627,28.060433,25.964321,38.148865,13.000000,2.617801,896:1,NaN,2.628688,2.381308,46064.0,61.562116,52.603794,52.600206,8.232590,20.858766,23.936170,NaN,75.073099,9.886874,22400,20.477679,16.473214,21.120536,0.437500,0.236607,0.116071,2.625000,74.589286,0.268210,46.781250,68.352607

In [ ]:
## merge the two CHRRP dataframes
c_data=pd.merge(c1_data, c2_data, on='FIPS')

In [ ]:
c_data=c_data.dropna(subset=['County'])

In [ ]:
c_data.head()

,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Smokers,% Adults with Obesity,Food Environment Index,% Physically Inactive,% With Access to Exercise Opportunities,% Excessive Drinking,% Driving Deaths with Alcohol Involvement,Chlamydia Rate,Teen Birth Rate,Primary Care Physicians Rate,Dentist Rate,% With Annual Mammogram,% Vaccinated,High School Graduation Rate,% Some College,% Unemployed,% Children in Poverty,Income Ratio,% Single-Parent Households,Social Association Rate,Violent Crime Rate,Injury Death Rate,Average Daily PM2.5,Presence of Water Violation,% Severe Housing Problems,% Drive Alone to Work,% Long Commute - Drives Alone,Life Expectancy,Age-Adjusted Death Rate,Child Mortality Rate,Infant Mortality Rate,% Frequent Mental Distress,% Adults with Diabetes,HIV Prevalence Rate,% Food Insecure,% Limited Access to Healthy Foods,Drug Overdose Mortality Rate,Motor Vehicle Mortality Rate,% Insufficient Sleep,% Uninsured,% Children Uninsured,Other Primary Care Provider Ratio,% Disconnected Youth,Average Reading Performance,Average Math Performance,Median Household Income,% Enrolled in Free or Reduced Lunch,Black/White Segregation Index,non-White/White Segregation Index,Homicide Rate,Suicide Rate (Age-Adjusted),Firearm Fatalities Rate,Juvenile Arrest Rate,% Homeowners,% Severe Housing Cost Burden,Population,% less than 18 years of age,% 65 and over,% Black,% American Indian & Alaska Native,% Asian,% Native Hawaiian/Other Pacific Islander,% Hispanic,% Non-Hispanic White,% Not Proficient in English,% Female,% Rural
1,1001,Alabama,Autauga,791.0,8128.591190,20.882987,4.743889,4.654031,8.619529,18.081557,33.3,7.2,34.7,69.130124,15.026031,26.785714,407.2,25.284927,45.04180,32.37352,41.0,41.0,90.000000,62.009974,3.629079,19.3,5.234597,26.242679,12.071202,272.282220,68.526994,11.7,No,14.663462,86.523661,39.6,76.879477,417.547551,55.922156,7.940109,14.129347,11.1,219.1,13.2,11.991125,10.809447,19.328751,35.905406,11.148989,2.669154,2527:1,NaN,2.959586,2.802699,59338.0,43.408673,24.619138,23.628395,4.896617,18.145295,16.230078,10.625000,74.894625,13.403481,55601,23.674035,15.562670,19.343177,0.480207,1.224798,0.111509,2.965774,74.308016,0.820225,51.448715,42.002162
2,1003,Alabama,Baldwin,2967.0,7354.122530,17.509134,4.224519,4.304056,8.345003,17.489033,31.0,8.0,26.5,73.713549,17.958310,30.769231,325.0,27.880692,72.89727,49.53629,43.0,44.0,86.361577,67.371620,3.615382,13.9,4.417767,24.139601,10.205617,203.660396,72.385054,10.3,No,13.566201,84.282433,41.7,78.450258,353.343111,47.381750,5.546701,13.475336,10.7,166.5,11.6,5.424427,13.610487,15.811239,33.305868,14.348525,3.538763,1787:1,8.476795,3.005642,2.860696,57588.0,48.486565,41.271763,31.825343,3.008333,19.377511,14.093514,26.192661,73.619343,11.725808,218022,21.607911,20.443350,8.783976,0.772399,1.150343,0.066966,4.646779,83.111337,0.543517,51.538377,42.279099
3,1005,Alabama,Barbour,472.0,10253.573403,29.591802,5.430279,5.185594,11.474559,21.999985,41.7,5.6,23.5,53.166770,12.844016,40.000000,716.3,40.870815,31.65809,36.17218,45.0,37.0,81.410256,34.857649,5.171384,43.9,5.681410,56.603426,7.518797,414.277861,70.274612,11.5,No,14.583333,83.368470,32.2,75.341935,497.350062,74.225274,NaN,16.586252,17.6,420.6,22.0,10.739667,NaN,22.854780,38.563167,16.085834,2.913534,1914:1,13.339302,2.660388,2.443271,34382.0,63.292302,25.039132,23.449713,7.618260,12.836104,17.761715,15.000000,61.397779,14.059546,24881,20.867328,19.420441,48.032635,0.659137,0.454162,0.184880,4.276355,45.641252,1.631683,47.216752,67.789635
4,1007,Alabama,Bibb,471.0,11977.539484,19.439724,4.591482,4.551699,10.308710,19.114200,37.6,7.8,33.5,16.251364,15.570042,27.586207,339.7,41.696794,48.52656,22.32143,40.0,38.0,83.763838,44.137353,3.971828,27.8,4.368581,28.689236,8.381860,89.349126,108.156028,11.2,No,10.496454,84.910647,49.8,73.571820,589.041117,85.800086,12.244898,14.017536,14.5,196.8,14.3,2.601627,28.060433,25.964321,38.148865,13.000000,2.617801,896:1,NaN,2.628688,2.381308,46064.0,61.562116,52.603794,52.600206,8.232590,20.858766,23.936170,NaN,75.073099,9.886874,22400,20.477679,16.473214,21.120536,0.437500,0.236607,0.116071,2.625000,74.589286,0.268210,46.781250,68.352607
5,1009,Alabama,Blount,1085.0,11335.071134,21.745293,4.860808,4.891455,7.604563,19.208672,33.8,8.4,30.3,15.634486,14.230594,19.444444,234.4,33.534595,22.40877,19.01798,34.0,39.0,93.468795,53.361073,3.511157,18.0,4.430262,28.561828,8.446383,482.690611,107.285369,11.7,No,10.548012,86.178362,59.4,74.145826,515.611823,83.798883,6.841993,14.859271,17.0,99.8,10.7,2.880150,24.199543,28.666962,35.945010,17.082342,4.077284,4449:1,18.941594,3.025407,2.849339,50412.0,52.906287,48.214823,17.694495,6.425353,17.062628,20.072746,7.460317,78.626214,8.462257,57840,23.153527,18.236515,1.462656,0.653527,0.319848,0.121024,9.571231,86.886238,1.724520,50.726141,89.951502

In [ ]:
## check for any missing FIPS 
fips_unique=c_data['FIPS'].unique() 
missing_fips(fips_unique)

missing FIPS codes:

## Internet Data

How many: 2 FIPS missing, -9999 for counties with low numbers to 'preserve confidentiality'

Location: 02158 Kusilvak Census Area, 46102 Oglala Lakota County

Suggestions: 

* Find the household numbers for the two counties
* not sure how to fill out the missing values for -9999
* Filling the ratios that are greater than 1 with the average values makes sense

In [ ]:
internet_data = pd.read_excel("covid_community_vulnerability/data/internet_data.xlsx", sheet_name='County Connections Dec 2017', usecols=[0,3,4,5,6,7])

In [ ]:
internet_data.head()

   countycode  consumer  non_consumer  all     hhs    ratio
0        1001        16             1   17  21.054     0.75
1        1003        70             9   80  76.133     0.92
2        1005         5             1    6   9.191     0.54
3        1007     -9999         -9999    4   6.916 -9999.00
4        1009        13             1   14  20.690     0.62

In [ ]:
## check for missing values 
fips_unique = internet_data['countycode'].unique() 
missing_fips(fips_unique)

missing FIPS codes:
2158
46102

Mising data for two counties: 02158 (Kusilvak Census Area) and 46102 (Oglala Lakota County). Additionally, there are some entires where counties that have low numbers have -9999 instead of a value to 'preserve confidentiality'. We will need to interpolate these values.

In [ ]:
## number of -9999 values in consumer, non_consumer, and ratio column
print((internet_data['consumer']==-9999.0).sum())
print((internet_data['non_consumer']==-9999.0).sum())
print((internet_data['ratio']==-9999.0).sum())

310
327
310

In [ ]:
## interpolate missing values by the smalllest 25%
internet_data = internet_data.replace(-9999, np.nan) 
no_nan = internet_data.dropna()
no_nan.head()

   countycode  consumer  non_consumer   all     hhs  ratio
0        1001      16.0           1.0  17.0  21.054   0.75
1        1003      70.0           9.0  80.0  76.133   0.92
2        1005       5.0           1.0   6.0   9.191   0.54
4        1009      13.0           1.0  14.0  20.690   0.62
6        1013       5.0           1.0   5.0   7.050   0.69

In [ ]:
no_nan_25 = no_nan[(no_nan['consumer'].quantile(0.25))>no_nan['consumer']].mean()
con_25 = no_nan_25[1] # original mean = 31.0
non_con_25 = no_nan_25[2] # original mean = 2.89
ratio_25 = no_nan_25[-1] # original mean = 2.88

print(con_25)
print(non_con_25)
print(ratio_25)

internet_data['consumer'] = internet_data['consumer'].fillna(con_25)
internet_data['non_consumer'] = internet_data['non_consumer'].fillna(non_con_25)
internet_data['ratio'] = internet_data['ratio'].fillna(ratio_25)

1.4631578947368422
0.007017543859649123
0.5927368421052633

In [ ]:
se_data=pd.merge(c_data, internet_data, how='left', left_on="FIPS", right_on='countycode')
se_data.head()

,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Smokers,% Adults with Obesity,Food Environment Index,% Physically Inactive,% With Access to Exercise Opportunities,% Excessive Drinking,% Driving Deaths with Alcohol Involvement,Chlamydia Rate,Teen Birth Rate,Primary Care Physicians Rate,Dentist Rate,% With Annual Mammogram,% Vaccinated,High School Graduation Rate,% Some College,% Unemployed,% Children in Poverty,Income Ratio,% Single-Parent Households,Social Association Rate,Violent Crime Rate,Injury Death Rate,Average Daily PM2.5,Presence of Water Violation,% Severe Housing Problems,% Drive Alone to Work,% Long Commute - Drives Alone,Life Expectancy,Age-Adjusted Death Rate,Child Mortality Rate,Infant Mortality Rate,% Frequent Mental Distress,% Adults with Diabetes,HIV Prevalence Rate,% Food Insecure,% Limited Access to Healthy Foods,Drug Overdose Mortality Rate,Motor Vehicle Mortality Rate,% Insufficient Sleep,% Uninsured,% Children Uninsured,Other Primary Care Provider Ratio,% Disconnected Youth,Average Reading Performance,Average Math Performance,Median Household Income,% Enrolled in Free or Reduced Lunch,Black/White Segregation Index,non-White/White Segregation Index,Homicide Rate,Suicide Rate (Age-Adjusted),Firearm Fatalities Rate,Juvenile Arrest Rate,% Homeowners,% Severe Housing Cost Burden,Population,% less than 18 years of age,% 65 and over,% Black,% American Indian & Alaska Native,% Asian,% Native Hawaiian/Other Pacific Islander,% Hispanic,% Non-Hispanic White,% Not Proficient in English,% Female,% Rural,countycode,consumer,non_consumer,all,hhs,ratio
0,1001,Alabama,Autauga,791.0,8128.591190,20.882987,4.743889,4.654031,8.619529,18.081557,33.3,7.2,34.7,69.130124,15.026031,26.785714,407.2,25.284927,45.04180,32.37352,41.0,41.0,90.000000,62.009974,3.629079,19.3,5.234597,26.242679,12.071202,272.282220,68.526994,11.7,No,14.663462,86.523661,39.6,76.879477,417.547551,55.922156,7.940109,14.129347,11.1,219.1,13.2,11.991125,10.809447,19.328751,35.905406,11.148989,2.669154,2527:1,NaN,2.959586,2.802699,59338.0,43.408673,24.619138,23.628395,4.896617,18.145295,16.230078,10.625000,74.894625,13.403481,55601,23.674035,15.562670,19.343177,0.480207,1.224798,0.111509,2.965774,74.308016,0.820225,51.448715,42.002162,1001.0,16.000000,1.000000,17.0,21.054,0.750000
1,1003,Alabama,Baldwin,2967.0,7354.122530,17.509134,4.224519,4.304056,8.345003,17.489033,31.0,8.0,26.5,73.713549,17.958310,30.769231,325.0,27.880692,72.89727,49.53629,43.0,44.0,86.361577,67.371620,3.615382,13.9,4.417767,24.139601,10.205617,203.660396,72.385054,10.3,No,13.566201,84.282433,41.7,78.450258,353.343111,47.381750,5.546701,13.475336,10.7,166.5,11.6,5.424427,13.610487,15.811239,33.305868,14.348525,3.538763,1787:1,8.476795,3.005642,2.860696,57588.0,48.486565,41.271763,31.825343,3.008333,19.377511,14.093514,26.192661,73.619343,11.725808,218022,21.607911,20.443350,8.783976,0.772399,1.150343,0.066966,4.646779,83.111337,0.543517,51.538377,42.279099,1003.0,70.000000,9.000000,80.0,76.133,0.920000
2,1005,Alabama,Barbour,472.0,10253.573403,29.591802,5.430279,5.185594,11.474559,21.999985,41.7,5.6,23.5,53.166770,12.844016,40.000000,716.3,40.870815,31.65809,36.17218,45.0,37.0,81.410256,34.857649,5.171384,43.9,5.681410,56.603426,7.518797,414.277861,70.274612,11.5,No,14.583333,83.368470,32.2,75.341935,497.350062,74.225274,NaN,16.586252,17.6,420.6,22.0,10.739667,NaN,22.854780,38.563167,16.085834,2.913534,1914:1,13.339302,2.660388,2.443271,34382.0,63.292302,25.039132,23.449713,7.618260,12.836104,17.761715,15.000000,61.397779,14.059546,24881,20.867328,19.420441,48.032635,0.659137,0.454162,0.184880,4.276355,45.641252,1.631683,47.216752,67.789635,1005.0,5.000000,1.000000,6.0,9.191,0.540000
3,1007,Alabama,Bibb,471.0,11977.539484,19.439724,4.591482,4.551699,10.308710,19.114200,37.6,7.8,33.5,16.251364,15.570042,27.586207,339.7,41.696794,48.52656,22.32143,40.0,38.0,83.763838,44.137353,3.971828,27.8,4.368581,28.689236,8.381860,89.349126,108.156028,11.2,No,10.496454,84.910647,49.8,73.571820,589.041117,85.800086,12.244898,14.017536,14.5,196.8,14.3,2.601627,28.060433,25.964321,38.148865,13.000000,2.617801,896:1,NaN,2.628688,2.381308,46064.0,61.562116,52.603794,52.600206,8.232590,20.858766,23.936170,NaN,75.073099,9.886874,22400,20.477679,16.473214,21.120536,0.437500,0.236607,0.116071,2.625000,74.589286,0.268210,46.781250,68.352607,1007.0,1.463158,0.007018,4.0,6.916,0.592737
4,1009,Alabama,Blount,1085.0,11335.071134,21.745293,4.860808,4.891455,7.604563,19.208672,33.8,8.4,30.3,15.634486,14.230594,19.444444,234.4,33.534595,22.40877,19.01798,34.0,39.0,93.468795,53.361073,3.511157,18.0,4.430262,28.561828,8.446383,482.690611,107.285369,11.7,No,10.548012,86.178362,59.4,74.145826,515.611823,83.798883,6.841993,14.859271,17.0,99.8,10.7,2.880150,24.199543,28.666962,35.945010,17.082342,4.077284,4449:1,18.941594,3.025407,2.849339,50412.0,52.906287,48.214823,17.694495,6.425353,17.062628,20.072746,7.460317,78.626214,8.462257,57840,23.153527,18.236515,1.462656,0.653527,0.319848,0.121024,9.571231,86.886238,1.724520,50.726141,89.951502,1009.0,13.000000,1.000000,14.0,20.690,0.620000

In [ ]:
## interpolate missing values 
# se_data = se_data.replace(-9999, np.nan)
# con_mean = se_data['consumer'].mean()
# se_data['consumer'] = se_data['consumer'].fillna(con_mean) # interpolate missing value with mean 
# non_con_mean = se_data['non_consumer'].mean() 
# se_data['non_consumer'] = se_data['non_consumer'].fillna(non_con_mean) 
# ratio_mean = se_data['ratio'].mean() 
# se_data['ratio'] = se_data['ratio'].fillna(ratio_mean)

In [ ]:
fips_unique=se_data['FIPS'].unique()
missing_fips(fips_unique)

missing FIPS codes:

In [ ]:
se_data.shape[0]

3142

In [ ]:
## delete county code column 
se_data = se_data.drop(columns=['countycode'])

In [ ]:
## rename countycode column 
se_data=se_data.rename(columns={'consumer':'internet_consumer','non_consumer':'internet_nonconsumer','all':'internet_all',
                    'hhs':'internet_hhs','ratio':'internet_ratio'})

In [ ]:
## add an internet percent column
se_data['internet_percent']=100*se_data.internet_ratio

In [ ]:
se_data.head()

,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Smokers,% Adults with Obesity,Food Environment Index,% Physically Inactive,% With Access to Exercise Opportunities,% Excessive Drinking,% Driving Deaths with Alcohol Involvement,Chlamydia Rate,Teen Birth Rate,Primary Care Physicians Rate,Dentist Rate,% With Annual Mammogram,% Vaccinated,High School Graduation Rate,% Some College,% Unemployed,% Children in Poverty,Income Ratio,% Single-Parent Households,Social Association Rate,Violent Crime Rate,Injury Death Rate,Average Daily PM2.5,Presence of Water Violation,% Severe Housing Problems,% Drive Alone to Work,% Long Commute - Drives Alone,Life Expectancy,Age-Adjusted Death Rate,Child Mortality Rate,Infant Mortality Rate,% Frequent Mental Distress,% Adults with Diabetes,HIV Prevalence Rate,% Food Insecure,% Limited Access to Healthy Foods,Drug Overdose Mortality Rate,Motor Vehicle Mortality Rate,% Insufficient Sleep,% Uninsured,% Children Uninsured,Other Primary Care Provider Ratio,% Disconnected Youth,Average Reading Performance,Average Math Performance,Median Household Income,% Enrolled in Free or Reduced Lunch,Black/White Segregation Index,non-White/White Segregation Index,Homicide Rate,Suicide Rate (Age-Adjusted),Firearm Fatalities Rate,Juvenile Arrest Rate,% Homeowners,% Severe Housing Cost Burden,Population,% less than 18 years of age,% 65 and over,% Black,% American Indian & Alaska Native,% Asian,% Native Hawaiian/Other Pacific Islander,% Hispanic,% Non-Hispanic White,% Not Proficient in English,% Female,% Rural,internet_consumer,internet_nonconsumer,internet_all,internet_hhs,internet_ratio,internet_percent
0,1001,Alabama,Autauga,791.0,8128.591190,20.882987,4.743889,4.654031,8.619529,18.081557,33.3,7.2,34.7,69.130124,15.026031,26.785714,407.2,25.284927,45.04180,32.37352,41.0,41.0,90.000000,62.009974,3.629079,19.3,5.234597,26.242679,12.071202,272.282220,68.526994,11.7,No,14.663462,86.523661,39.6,76.879477,417.547551,55.922156,7.940109,14.129347,11.1,219.1,13.2,11.991125,10.809447,19.328751,35.905406,11.148989,2.669154,2527:1,NaN,2.959586,2.802699,59338.0,43.408673,24.619138,23.628395,4.896617,18.145295,16.230078,10.625000,74.894625,13.403481,55601,23.674035,15.562670,19.343177,0.480207,1.224798,0.111509,2.965774,74.308016,0.820225,51.448715,42.002162,16.000000,1.000000,17.0,21.054,0.750000,75.000000
1,1003,Alabama,Baldwin,2967.0,7354.122530,17.509134,4.224519,4.304056,8.345003,17.489033,31.0,8.0,26.5,73.713549,17.958310,30.769231,325.0,27.880692,72.89727,49.53629,43.0,44.0,86.361577,67.371620,3.615382,13.9,4.417767,24.139601,10.205617,203.660396,72.385054,10.3,No,13.566201,84.282433,41.7,78.450258,353.343111,47.381750,5.546701,13.475336,10.7,166.5,11.6,5.424427,13.610487,15.811239,33.305868,14.348525,3.538763,1787:1,8.476795,3.005642,2.860696,57588.0,48.486565,41.271763,31.825343,3.008333,19.377511,14.093514,26.192661,73.619343,11.725808,218022,21.607911,20.443350,8.783976,0.772399,1.150343,0.066966,4.646779,83.111337,0.543517,51.538377,42.279099,70.000000,9.000000,80.0,76.133,0.920000,92.000000
2,1005,Alabama,Barbour,472.0,10253.573403,29.591802,5.430279,5.185594,11.474559,21.999985,41.7,5.6,23.5,53.166770,12.844016,40.000000,716.3,40.870815,31.65809,36.17218,45.0,37.0,81.410256,34.857649,5.171384,43.9,5.681410,56.603426,7.518797,414.277861,70.274612,11.5,No,14.583333,83.368470,32.2,75.341935,497.350062,74.225274,NaN,16.586252,17.6,420.6,22.0,10.739667,NaN,22.854780,38.563167,16.085834,2.913534,1914:1,13.339302,2.660388,2.443271,34382.0,63.292302,25.039132,23.449713,7.618260,12.836104,17.761715,15.000000,61.397779,14.059546,24881,20.867328,19.420441,48.032635,0.659137,0.454162,0.184880,4.276355,45.641252,1.631683,47.216752,67.789635,5.000000,1.000000,6.0,9.191,0.540000,54.000000
3,1007,Alabama,Bibb,471.0,11977.539484,19.439724,4.591482,4.551699,10.308710,19.114200,37.6,7.8,33.5,16.251364,15.570042,27.586207,339.7,41.696794,48.52656,22.32143,40.0,38.0,83.763838,44.137353,3.971828,27.8,4.368581,28.689236,8.381860,89.349126,108.156028,11.2,No,10.496454,84.910647,49.8,73.571820,589.041117,85.800086,12.244898,14.017536,14.5,196.8,14.3,2.601627,28.060433,25.964321,38.148865,13.000000,2.617801,896:1,NaN,2.628688,2.381308,46064.0,61.562116,52.603794,52.600206,8.232590,20.858766,23.936170,NaN,75.073099,9.886874,22400,20.477679,16.473214,21.120536,0.437500,0.236607,0.116071,2.625000,74.589286,0.268210,46.781250,68.352607,1.463158,0.007018,4.0,6.916,0.592737,59.273684
4,1009,Alabama,Blount,1085.0,11335.071134,21.745293,4.860808,4.891455,7.604563,19.208672,33.8,8.4,30.3,15.634486,14.230594,19.444444,234.4,33.534595,22.40877,19.01798,34.0,39.0,93.468795,53.361073,3.511157,18.0,4.430262,28.561828,8.446383,482.690611,107.285369,11.7,No,10.548012,86.178362,59.4,74.145826,515.611823,83.798883,6.841993,14.859271,17.0,99.8,10.7,2.880150,24.199543,28.666962,35.945010,17.082342,4.077284,4449:1,18.941594,3.025407,2.849339,50412.0,52.906287,48.214823,17.694495,6.425353,17.062628,20.072746,7.460317,78.626214,8.462257,57840,23.153527,18.236515,1.462656,0.653527,0.319848,0.121024,9.571231,86.886238,1.724520,50.726141,89.951502,13.000000,1.000000,14.0,20.690,0.620000,62.000000

## Covid Data

In [ ]:
covid_data = pd.read_csv("covid_community_vulnerability/data/nyt_data/live/us-counties.csv", usecols=['county','state','fips','cases','deaths'])

FileNotFoundError: ignored

## Elderly population

How many: 1 

Missing location: FIPS 35013 Dona Ana County in New Mexico
Suggestions:

In [ ]:
## read in the dataset 
pop_elderly=pd.read_csv("covid_community_vulnerability/data/elderly_agesex.csv", usecols=['POPESTIMATE', 'AGE65PLUS_TOT', 'Merge'])
pop_elderly.head()

                    Merge  POPESTIMATE  AGE65PLUS_TOT
0  Alabama Autauga County        55869           8924
1  Alabama Baldwin County       223234          46830
2  Alabama Barbour County        24686           4861
3     Alabama Bibb County        22394           3733
4   Alabama Blount County        57826          10814

In [ ]:
## add FIPS code to the dataset 
pop_elderly=pd.merge(pop_elderly, FIPS_codes, left_on='Merge', right_on='Merge', how='left')
pop_elderly.head()

,Merge,POPESTIMATE,AGE65PLUS_TOT,FIPS,State,County,State Abbrv
0,Alabama Autauga County,55869,8924,1001.0,Alabama,Autauga County,AL
1,Alabama Baldwin County,223234,46830,1003.0,Alabama,Baldwin County,AL
2,Alabama Barbour County,24686,4861,1005.0,Alabama,Barbour County,AL
3,Alabama Bibb County,22394,3733,1007.0,Alabama,Bibb County,AL
4,Alabama Blount County,57826,10814,1009.0,Alabama,Blount County,AL

In [ ]:
## drop extra geography info 
pop_elderly=pop_elderly.drop(columns=['State', 'County'])

In [ ]:
## check for missing values
fips_unique=pop_elderly['FIPS'].unique() 
missing_fips(fips_unique)

missing FIPS codes:
35013

In [ ]:
## add a column for % Adults 65 and Older 
pop_elderly['% Adults 65 and Older'] = (100 * pop_elderly['AGE65PLUS_TOT'] / pop_elderly['POPESTIMATE']).round(decimals=3)
## drop extra columns 
pop_elderly = pop_elderly.drop(columns=['POPESTIMATE', 'AGE65PLUS_TOT'])

In [ ]:
pop_elderly.head()

                    Merge    FIPS State Abbrv  % Adults 65 and Older
0  Alabama Autauga County  1001.0          AL                 15.973
1  Alabama Baldwin County  1003.0          AL                 20.978
2  Alabama Barbour County  1005.0          AL                 19.691
3     Alabama Bibb County  1007.0          AL                 16.670
4   Alabama Blount County  1009.0          AL                 18.701

In [ ]:
pop_elderly['% Adults 65 and Older'].isnull().values.any()

False

In [ ]:
pop_elderly_mean = pop_elderly['% Adults 65 and Older'].mean()
pop_elderly['% Adults 65 and Older'] = pop_elderly['% Adults 65 and Older'].fillna(pop_elderly_mean)

## Households without Cars

Missing data: Uses the number of households from the internet dataset which has some missing values.*italicized text*

In [ ]:
## read in the data 
hh_wo_car=pd.read_csv('covid_community_vulnerability/data/householdwoutcar_with_fips.csv',usecols=['fips', 'Number_Households_Wout_Car'])

In [ ]:
hh_wo_car.head()

     fips  Number_Households_Wout_Car
0  1001.0                      1191.0
1  1003.0                      2705.0
2  1005.0                       849.0
3  1007.0                       410.0
4  1009.0                       856.0

In [ ]:
## check for missing values 
fips_unique=hh_wo_car['fips'].unique()
missing_fips(fips_unique)

missing FIPS codes:

## Public Transit

In [ ]:
## read in the data 
public_transit=pd.read_csv('covid_community_vulnerability/data/ACS_S0801_Commute.csv', low_memory=False, usecols=['Merge','Estimate!!Total!!Workers 16 years and over!!MEANS OF TRANSPORTATION TO WORK!!Public transportation (excluding taxicab)'])
public_transit=public_transit.rename(columns={
                                              'Estimate!!Total!!Workers 16 years and over!!MEANS OF TRANSPORTATION TO WORK!!Public transportation (excluding taxicab)':'% workers commuting by public transit'})

In [ ]:
public_transit.head()

                    Merge  % workers commuting by public transit
0  Alabama Autauga County                                    0.1
1  Alabama Baldwin County                                    0.1
2  Alabama Barbour County                                    0.3
3     Alabama Bibb County                                    0.5
4   Alabama Blount County                                    0.1

In [ ]:
## get the FIPS code 
public_transit=pd.merge(public_transit, FIPS_codes, left_on='Merge', right_on='Merge')
public_transit.head()

,Merge,% workers commuting by public transit,FIPS,State,County,State Abbrv
0,Alabama Autauga County,0.1,1001,Alabama,Autauga County,AL
1,Alabama Baldwin County,0.1,1003,Alabama,Baldwin County,AL
2,Alabama Barbour County,0.3,1005,Alabama,Barbour County,AL
3,Alabama Bibb County,0.5,1007,Alabama,Bibb County,AL
4,Alabama Blount County,0.1,1009,Alabama,Blount County,AL

In [ ]:
public_transit=public_transit.drop(columns=['State','County','Merge','State Abbrv'])